<!DOCTYPE html>

<html>

<head>
    <link type="text/css" href="../boostrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../css/common.css" rel="stylesheet">

    <link href="../fontawesome/css/all.css" rel="stylesheet">
    <script src="../boostrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../ckeditor/build/ckeditor.js"></script>
</head>

<main>

    <body class="bg-light">
        <div class="container-fluid d-flex h-100 w-100">
            <%- include('../../includes/sidebar.ejs') %>
                <div class="container-fluid h-100 w-100 d-flex flex-column">
                    <%- include('../../includes/header.ejs') %>
                        <div class="container-fluid content-body">
                            <form class="needs-validation" action="/type/edit_type" method="POST"
                                enctype="multipart/form-data" onsubmit="checking()">
                                <div class="container-fluid d-flex mb-4">
                                    <div style="width: 15%; ">
                                        <span class="align-middle">Name</span>
                                    </div>
                                    <div style="width: 85%;">
                                        <input type="text" id="title" class="form-control" placeholder="Enter Title"
                                            name="type[name]" value="<%=type.name%>">
                                            <% if (nameError) { %>
                                                <div class="mt-2">
                                                    <span class="error text-danger">
                                                        <%= nameError %>
                                                    </span>
                                                </div>
                                                <% } %>
                                    </div>
                                </div>

                                <div class="container-fluid d-flex mb-4">
                                    <div style="width: 15%; ">
                                        <span class="align-middle">Image</span>
                                    </div>
                                    <div id="fileInputGroup" style="width: 85%; display: none;">
                                        <div class="input-group">
                                            <input class="form-control" type="file" name="image">
                                        </div>
                                    </div>
                                    <div id="imagePhoto">
                                        <img src="../file/tag-image/<%=type.url %>" style="height: 100px;" name="image">
                                        <button type="button" class="btn btn-primary"
                                            style="height: 40px; margin-left: 10px;"
                                            onclick="removeImage(this)">Remove</button>
                                    </div>
                                </div>

                                <div class="container-fluid d-flex mb-4">
                                    <div style="width: 15%; ">
                                        <span class="align-middle">Status</span>
                                    </div>
                                    <div style="width: 85%;display: flex;">
                                        <div class="form-check me-2">
                                            <input type="radio" id="statusRadio" class="form-check-input" value="0"
                                                name="type[status]" <%=type.status==0 ? "checked" : "" %>>
                                            <label class="form-check-label" for="statusRadio">
                                                Suspend
                                            </label>
                                        </div>
                                        <div class="form-check me-2">
                                            <input type="radio" id="statusRadio" class="form-check-input" value="1"
                                                name="type[status]" <%=type.status==1 ? "checked" : "" %>>
                                            <label class="form-check-label" for="statusRadio">
                                                Available
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn-primary me-2" name="type[id]"
                                    value="<%=type.id%>">done</button>
                            </form>

                        </div>
                </div>
        </div>
        </div>
    </body>

    <script>
        function removeImage() {
            var input = document.getElementById('fileInputGroup')
            input.style.display = 'inline-block';
            var image = document.getElementById('imagePhoto');
            image.style.display = 'none';
        }
    // function checking() {
    //     let checkboxes = document.querySelectorAll('[id=checkbox-tag]');
    //     // let checked = false;
    //     // console.log("hi");
    //     // for (let i = 0; i < elements.length; i++) {
    //     //     if (elements[i].checked) {
    //     //         checked = true;
    //     //     }
    //     // }
    //     // return checked;
    //     let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
    //     if (!checkedOne) {
    //         event.preventDefault();
    //         return checkedOne;
    //     }
    //     return checkedOne;
    // }
    </script>
</main>